.wrapper {
  width: 70rem;
  height: 45rem;

  max-width: 70rem;
  padding: auto;

  display: grid;
  grid-template-columns: repeat(3, 17rem);
  grid-template-rows: repeat(4, 9rem);
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .html {
    font-size: 87.5%;
  }
}
